<html>
<head>
  <title><%= title %></title>
  <meta charset="GBK">
  <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="./fontawesome/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
  </style>

  <script src="/javascripts/jquery.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
</head>
<body>
  <div class="navbar navbar-default  navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
         </button>
        <a class="navbar-brand" style="font-family:Microsoft YaHei"><i class="fa fa-flash fa-lg"> 雷神之锤暴力破解系统</i></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right ">
        <li><a href="/msg" style="font-family:Microsoft YaHei"><i class="fa fa-envelope fa-lg">消息</i></a></li>
        <li class="dropdown">
          <a href="#" style="font-family:Microsoft YaHei" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs fa-lg"> 设置</i></a> 
          <ul class="dropdown-menu" role="menu">
            <li role="presentation"><a href="/sysconfig" role="menuitem"><i class="fa fa-th-large">系统设置</i></a></li>
            <li role="presentation"><a href="/admin" role="menuitem"><i class="fa fa-users">用户管理</i></a></li>
            <li role="presentation"><a href="/dic" role="menuitem"><i class="fa fa-file">字典管理</i></a></li>

          </ul>
        </li>
        <li><a href="/logout" style="font-family:Microsoft YaHei" ><i class="fa fa-sign-out fa-lg"> 退出</i></a></li>
        <li><a href="/msg" style="font-family:Microsoft YaHei"><i class="fa fa-file-text fa-lg" style="color:black"> 教程</i></a></li>        
        </ul>      
      </div>
    </div>
  </div>
  <hr>
  <hr>
  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-xs-2" id="sidebar" role="navigation">
        <div class="list-group">


        <ul class="list-group">
            <li class="list-group-item"><i class="fa fa-bars fa-lg"> 快捷菜单</i></li>
            <li class="list-group-item"><a href="#" style="font-family:Microsoft YaHei"><i class="fa fa-bomb"> HTTP Auth</i></a>    
            <li class="list-group-item"><a href="/ssh" style="font-family:Microsoft YaHei"><i class="fa fa-drupal"> SSH破解</i></a></li>
            <li class="list-group-item"><a href="#" style="font-family:Microsoft YaHei"><i class="fa fa-gavel"> Telnet破解</i></a></li>
            <li class="list-group-item"><a href="#" style="font-family:Microsoft YaHei"><i class="fa fa-database"> Mysql破解</i></a></li>
            <li class="list-group-item"><a href="#" style="font-family:Microsoft YaHei"><i class="fa fa-database"> Mssql破解</i></a></li>
            <li class="list-group-item"><a href="#" style="font-family:Microsoft YaHei"><i class="fa fa-fire"> POP3破解</i></a></li>
            <li class="list-group-item"><a href="#" style="font-family:Microsoft YaHei"><i class="fa fa-file"> 更新字典</i></a></li>
            <li class="list-group-item"><a href="/useradd" style="font-family:Microsoft YaHei"><i class="fa fa-users"> 添加用户</i></a></li>
            <li class="list-group-item"><a href="/logout" style="font-family:Microsoft YaHei"><i class="fa fa-sign-out"> 退出</i></a> </li>
        </ul>
             
        </div>
      </div><!--/span-->
      <div class="col-xs-10">
        <h2 class="page-header">任务报表</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>目标</th>
              <th>协议</th>
              <th>账户</th>
              <th>口令</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>192.168.1.1</td>
              <td>ssh</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>192.168.1.1</td>
              <td>ssh</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>192.168.1.1</td>
              <td>ssh</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>192.168.1.1</td>
              <td>ssh</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>192.168.1.1</td>
              <td>ssh</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>192.168.1.1</td>
              <td>ssh</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            <tr>
              <td>192.168.1.1</td>
              <td>ssh</td>
              <td>admin</td>
              <td>admin</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><!--col-xs-10-->

    </div>  
  </div><!--container-->
</body>
</html>
